@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-neutral-800 dark:text-neutral-100;
  }

  main {
    @apply p-4 text-sm;
  }

  input {
    @apply bg-transparent;
  }

  input[type=text],
  input[type=number] {
    @apply px-2 py-1 border border-zinc-300 dark:border-neutral-500;
  }

  input[type=file] {
    @apply px-2 py-1 border border-zinc-300 dark:border-neutral-500 cursor-pointer;
  }

  input[type=file]::-webkit-file-upload-button {
    @apply hidden;
  }

  input[type=checkbox] {
    @apply p-2 border border-zinc-300 dark:border-neutral-500;
  }

  button[type=button]:not(.small) {
    @apply px-3 py-1 bg-neutral-300 dark:bg-neutral-600 hover:bg-opacity-60;
    line-height: 1.6;
  }

  button.small {
    @apply bg-neutral-300 dark:bg-neutral-600 hover:bg-opacity-60;
    padding: 1px 6px;
  }
  
  table {
    @apply w-full border border-black dark:border-neutral-500;
  }

  table > thead > tr:not(:first-child) > th,
  table > tbody > tr > td {
    @apply border-t border-black dark:border-neutral-500;
  }

  table th:not(:last-child), table td:not(:last-child) {
    @apply border-r border-black dark:border-neutral-500;
  }

  table th {
    @apply font-normal px-2 py-1 text-left;
  }

  table td {
    @apply p-2 align-top;
  }
  
  table th:first-child,
  table td:first-child,
  table th:nth-child(2),
  table td:nth-child(2) {
    @apply text-center;
  }
  
  table td:nth-child(4) {
    @apply tracking-wide;
    max-width: 70vw;
  }
  
  table td:nth-child(4) div {
    @apply break-words;
  }
  
  table td:nth-child(4) div:not(:last-child) {
    @apply mb-4;
  }
}

@layer utilities {
  input[type=text]:focus,
  input[type=number]:focus,
  input[type=file]:focus {
    @apply outline-none outline-transparent border-zinc-500 dark:border-neutral-300;
  }

  button[type=button]:focus {
    @apply outline-none outline-transparent bg-opacity-60;
  }

  #modal-container[data-open="false"] {
    @apply hidden pointer-events-none select-none;
  }

  .modal-backdrop {
    @apply absolute inset-0 bg-black bg-opacity-25;
  }

  .modal-content {
    @apply 
  }
}
